USE [master]
GO
/****** Object:  Database [Cinema_Booking_System]    Script Date: 6/18/2026 1:09:47 PM ******/
CREATE DATABASE [Cinema_Booking_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cinema_Booking_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cinema_Booking_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cinema_Booking_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cinema_Booking_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cinema_Booking_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cinema_Booking_System]
GO
/****** Object:  User [java_user]    Script Date: 6/18/2026 1:09:47 PM ******/
CREATE USER [java_user] FOR LOGIN [java_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [java_user]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[Booking_ID] [int] IDENTITY(1,1) NOT NULL,
	[Booking_date] [date] NULL,
	[User_ID] [int] NULL,
	[Movie_name] [varchar](100) NULL,
	[BookingStatus] [varchar](100) NULL,
	[Show_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Booking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking_Seat]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_Seat](
	[Booking_ID] [int] IDENTITY(1,1) NOT NULL,
	[Seat_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Booking_ID] ASC,
	[Seat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CleanBookings]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CleanBookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](100) NOT NULL,
	[ShowID] [varchar](50) NOT NULL,
	[SeatID] [varchar](50) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[BookingStatus] [varchar](50) NULL,
	[Movie_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CleanPayments]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CleanPayments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[AmountPaid] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [varchar](50) NOT NULL,
	[PaymentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Movie_ID] [varchar](20) NOT NULL,
	[Title] [varchar](100) NULL,
	[Genre] [varchar](50) NULL,
	[Duration] [int] NULL,
	[Rating] [decimal](3, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_](
	[Movie_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[Genre] [varchar](50) NULL,
	[Duration] [int] NULL,
	[Rating] [decimal](3, 1) NULL,
	[Poster_Path] [varchar](255) NULL,
	[M_language] [varchar](255) NULL,
	[releaseDate] [date] NULL,
	[M_description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_Hall]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_Hall](
	[Movie_hall_ID] [varchar](20) NOT NULL,
	[Name] [varchar](50) NULL,
	[Capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_hall_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Hall_]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Hall_](
	[Movie_hall_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_hall_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Payment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](20) NULL,
	[Total_Amount] [decimal](10, 2) NULL,
	[Verification_code] [varchar](10) NULL,
	[Booking_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[Seat_ID] [int] IDENTITY(1,1) NOT NULL,
	[Seat_number] [varchar](10) NULL,
	[Seat_Type] [varchar](30) NULL,
	[Status] [varchar](20) NULL,
	[Movie_hall_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Seat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Show_Table]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Show_Table](
	[Show_ID] [int] IDENTITY(1,1) NOT NULL,
	[Show_date] [date] NULL,
	[Show_time] [time](7) NULL,
	[Movie_ID] [int] NULL,
	[Movie_hall_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Show_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Show_Table_]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Show_Table_](
	[Show_ID] [varchar](20) NOT NULL,
	[Show_date] [date] NULL,
	[Show_time] [time](7) NULL,
	[Movie_ID] [varchar](20) NULL,
	[Movie_hall_ID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Show_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_]    Script Date: 6/18/2026 1:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_N] [varchar](50) NULL,
	[Last_N] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Username] [varchar](100) NULL,
	[user_Password] [varchar](20) NULL,
	[user_Role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([Booking_ID], [Booking_date], [User_ID], [Movie_name], [BookingStatus], [Show_ID]) VALUES (11, CAST(N'2026-06-18' AS Date), 8, N'Pride and Prejudice', N'CONFIRMED', 8)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[CleanBookings] ON 

INSERT [dbo].[CleanBookings] ([BookingID], [CustomerName], [ShowID], [SeatID], [Amount], [BookingStatus], [Movie_name]) VALUES (1, N'ToAllBoysIhaveLovedBefore Customer', N'5', N'668', CAST(50.00 AS Decimal(10, 2)), N'CONFIRMED', NULL)
INSERT [dbo].[CleanBookings] ([BookingID], [CustomerName], [ShowID], [SeatID], [Amount], [BookingStatus], [Movie_name]) VALUES (2, N'ToAllBoysIhaveLovedBefore Customer', N'5', N'668', CAST(50.00 AS Decimal(10, 2)), N'CONFIRMED', NULL)
INSERT [dbo].[CleanBookings] ([BookingID], [CustomerName], [ShowID], [SeatID], [Amount], [BookingStatus], [Movie_name]) VALUES (3, N'ToAllBoysIhaveLovedBefore Customer', N'5', N'669', CAST(50.00 AS Decimal(10, 2)), N'CONFIRMED', NULL)
SET IDENTITY_INSERT [dbo].[CleanBookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie_] ON 

INSERT [dbo].[Movie_] ([Movie_ID], [Title], [Genre], [Duration], [Rating], [Poster_Path], [M_language], [releaseDate], [M_description]) VALUES (1, N'ToAllBoysIhaveLovedBefore', N'Teen Romance', 99, CAST(9.5 AS Decimal(3, 1)), N'C:\Users\alema\Music\P.S._I_Still_Love_You_Poster.png', N'English', CAST(N'2018-08-17' AS Date), N'teen girl''s secret love letters are sent out, changing her life and relationships forever.')
INSERT [dbo].[Movie_] ([Movie_ID], [Title], [Genre], [Duration], [Rating], [Poster_Path], [M_language], [releaseDate], [M_description]) VALUES (2, N'Chapter By the Dozen', N'Family,Comedy', 107, CAST(8.0 AS Decimal(3, 1)), N'C:\Users\alema\Music\Chapter by the dozen.png', N'English', CAST(N'2012-03-18' AS Date), N'A fun family comedy the bakers a blended family of twelve members .')
INSERT [dbo].[Movie_] ([Movie_ID], [Title], [Genre], [Duration], [Rating], [Poster_Path], [M_language], [releaseDate], [M_description]) VALUES (5, N'Pretty Woman', N'Romatic Comedy', 119, CAST(8.5 AS Decimal(3, 1)), N'C:\Users\alema\Music\Pretty woman.png', N'English', CAST(N'1990-03-23' AS Date), N'Unexpected romance .')
SET IDENTITY_INSERT [dbo].[Movie_] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie_Hall_] ON 

INSERT [dbo].[Movie_Hall_] ([Movie_hall_ID], [Name], [Capacity]) VALUES (1, N'Screen one', 200)
INSERT [dbo].[Movie_Hall_] ([Movie_hall_ID], [Name], [Capacity]) VALUES (2, N'Screentwo', 150)
INSERT [dbo].[Movie_Hall_] ([Movie_hall_ID], [Name], [Capacity]) VALUES (3, N'VIP 1', 50)
SET IDENTITY_INSERT [dbo].[Movie_Hall_] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([Seat_ID], [Seat_number], [Seat_Type], [Status], [Movie_hall_ID]) VALUES (651, N'R1', N'REGULAR', N'AVAILABLE', 1)
INSERT [dbo].[Seat] ([Seat_ID], [Seat_number], [Seat_Type], [Status], [Movie_hall_ID]) VALUES (652, N'R2', N'REGULAR', N'AVAILABLE', 1)
INSERT [dbo].[Seat] ([Seat_ID], [Seat_number], [Seat_Type], [Status], [Movie_hall_ID]) VALUES (653, N'R3', N'REGULAR', N'AVAILABLE', 1)
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Show_Table] ON 

INSERT [dbo].[Show_Table] ([Show_ID], [Show_date], [Show_time], [Movie_ID], [Movie_hall_ID]) VALUES (8, CAST(N'2026-06-20' AS Date), CAST(N'10:00:00' AS Time), 8, 1)
INSERT [dbo].[Show_Table] ([Show_ID], [Show_date], [Show_time], [Movie_ID], [Movie_hall_ID]) VALUES (9, CAST(N'2026-06-19' AS Date), CAST(N'10:30:00' AS Time), 9, 4)
INSERT [dbo].[Show_Table] ([Show_ID], [Show_date], [Show_time], [Movie_ID], [Movie_hall_ID]) VALUES (10, CAST(N'2026-06-19' AS Date), CAST(N'02:15:00' AS Time), 1, 3)
SET IDENTITY_INSERT [dbo].[Show_Table] OFF
GO
SET IDENTITY_INSERT [dbo].[User_] ON 

INSERT [dbo].[User_] ([User_ID], [First_N], [Last_N], [Email], [Phone], [Username], [user_Password], [user_Role]) VALUES (1, N'k', N'm', NULL, NULL, N'n', N'm', N'ADMIN')
INSERT [dbo].[User_] ([User_ID], [First_N], [Last_N], [Email], [Phone], [Username], [user_Password], [user_Role]) VALUES (2, N'hawi', N'alemayehu', NULL, NULL, N'hawi123', N'1538', N'ADMIN')
INSERT [dbo].[User_] ([User_ID], [First_N], [Last_N], [Email], [Phone], [Username], [user_Password], [user_Role]) VALUES (3, N'hawi', N'alemayehu', NULL, NULL, N'hawi123', N'1538', N'ADMIN')
SET IDENTITY_INSERT [dbo].[User_] OFF
GO
/****** Object:  Index [UQ__Payment__35ABFDE1B9CA1531]    Script Date: 6/18/2026 1:09:48 PM ******/
ALTER TABLE [dbo].[Payment] ADD UNIQUE NONCLUSTERED 
(
	[Booking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CleanBookings] ADD  DEFAULT ('CONFIRMED') FOR [BookingStatus]
GO
ALTER TABLE [dbo].[CleanPayments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User_] ([User_ID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Show_Table] FOREIGN KEY([Show_ID])
REFERENCES [dbo].[Show_Table] ([Show_ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Show_Table]
GO
ALTER TABLE [dbo].[Booking_Seat]  WITH CHECK ADD FOREIGN KEY([Booking_ID])
REFERENCES [dbo].[Booking] ([Booking_ID])
GO
ALTER TABLE [dbo].[Booking_Seat]  WITH CHECK ADD FOREIGN KEY([Seat_ID])
REFERENCES [dbo].[Seat] ([Seat_ID])
GO
ALTER TABLE [dbo].[CleanPayments]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[CleanBookings] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([Booking_ID])
REFERENCES [dbo].[Booking] ([Booking_ID])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_MovieHall] FOREIGN KEY([Movie_hall_ID])
REFERENCES [dbo].[Movie_Hall_] ([Movie_hall_ID])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_MovieHall]
GO
ALTER TABLE [dbo].[Show_Table]  WITH CHECK ADD FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie_] ([Movie_ID])
GO
ALTER TABLE [dbo].[Show_Table]  WITH CHECK ADD FOREIGN KEY([Movie_hall_ID])
REFERENCES [dbo].[Movie_Hall_] ([Movie_hall_ID])
GO
ALTER TABLE [dbo].[Show_Table_]  WITH CHECK ADD FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[Show_Table_]  WITH CHECK ADD FOREIGN KEY([Movie_hall_ID])
REFERENCES [dbo].[movie_Hall] ([Movie_hall_ID])
GO
USE [master]
GO
